/* Stylesheet for Dialog (full picture width)
 *
 * $Id$
 */

@import url("layout.css");

body {
  background-color: #202021;
}
* {
  font-family: "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
  padding: 0;
  margin: 0;
}
h2 { 
  font-weight: normal;
  color: #cfcccc;
  margin-bottom: 6px;
}
a { 
  color: #cfcccc; 
}
hr {
  background-color: black;
  color: black;
}
tr#header {
  background-color: black;
}
small {
  font-family: "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
}
.main {
  width: 800px;
  background-color: black;
  color: white;
}
.footer {
  width: 800px;
  background-color: #202021; 
}
.footer small {
  color: #eeeeee;
}
.content h4{
  margin-top: 10px;
}
.gutter#menu a {
  color: #e9e7ff;
  border-color: #424542; 
  border-width: 3px;
  margin-left: 3px;
}
.gutter#menu a#active {
  border-color: #505050; 
  border-width: 3px;
  margin-left: 3px;
}
.datebox {
  border-right: 1px solid #505050;
  color: #b3b3b3;
}
.datebox h2 {
  font-family: "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
  font-size: 28px;
  color: #a9a9a9;
}
.highlights {
  border-color: #202021;
  margin-bottom: 10px;
}
.highlights img {
  border-color: #202021;
}
table.collection_list {
  border: none;
}
table.collection_list img {
  border: none;
}
table.collection_list td {
  color: white;
}
.chapter {
  margin-top: 10px;
}
.chapter img {
  border-color:  #202021;
}
table.bydate_list {
  color: #eeeeee;
}

/* Image display */
.image {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.image .display {
  border: none;
}
.opaqueborder {
  width: 100%; 
  height: 100%; 
  border-top: 10px solid #424542; 
  border-bottom: 10px solid #424542; 
  -ms-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  opacity: 0.5; 
  filter: alpha(opacity= 50);
  -moz-opacity: .50;
  -khtml-opacity: 0.5;
}

/* Single shot */
div.singleshot {
  width: 619; 
  height: 347;
  border: 1px solid #f4f4f4;
}
img.singleshot {
  border-color: #f4f4f4;
}
img.singleshot_thumb {
  border-color: #202021;
}
