/* Layout stylesheet for Dialog
 *
 * $Id: layout.css 10631 2007-06-17 18:24:44Z friebe $
 */

/* Common elements */
* {
  font-family: "Tahoma";
}
body {
  margin: 0px;
}
td, p, ul { 
  font-size: 13px;
  line-height: 20px;
}
h1 { 
  font: 42px "Arial narrow";
}
h2 { 
  font: 19px; 
  padding: 0px;
  margin: 1px;
}
h3 { 
  font: bold 13px;
  margin: 1px;
}
h4 { 
  font: bold 13px; 
  padding: 0px;
  margin: 0px;
}
small {
  font: 13px "Georgia"; 
}
hr {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 0;
  height: 1px;
}
#next {
  font-size: 20px;
  font-weight: bold;
  padding-left: 4px;
}
#previous {
  font-size: 20px;
  font-weight: bold;
  padding-right: 4px;
}

/* Page layout */
tr#header {
  text-align: left;
  padding-left: 10px;
  height: 40px;
}
.gutter {
  height: 40px;
}
.main {
  width: 840px;
  color: white;
}
.footer {
  width: 840px;
}
.content {
  margin-top: 0px;
  padding: 10px;
}

/* Navigation */
.gutter#menu {
  vertical-align: bottom;
  text-align: right;
  padding: 0px;
}
.gutter#menu a {
  font: 12px Arial;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 10px 4px 10px;
  margin: 0px;
  height: 28px;
  border-bottom: 1px solid; 
}
.gutter#menu a#active {
  border-bottom: 1px solid;
}

/* Entry */
.datebox {
  float: left;
  border-right: 1px solid;
  margin-right: 10px;
  margin-bottom: 4px;
  padding: 4px;
}
.datebox h2 {
  font: 32px "Georgia"; 
  margin: 0px;
  padding: 0px;
}

/* Images */
.highlights {
  display: block;
}
.highlights img {
  border: 2px solid;
  margin: 1px;
}
.chapter {
  display: block;
}
.chapter img {
  border: 2px solid;
  margin: 1px;
}

table.collection_list {
  border: none;
}
table.collection_list img {
  border: none;
}
table.collection_list td {
  color: white;
}
td#image img {
  border: 6px solid;
}
table.bydate_list {
  border: none;
}
table.bydate_list td#day {
  width: 40px;
}
table.bydate_list td#content {
  padding-bottom: 1em;
}
table.bydate_list td#content p {
  margin: 0px;
}

/* Paging elements */
a.pager img {
  border: none;
  padding: 3px;
}
a.pagerfalse img {
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* Single shot */
img.singleshot {
  border: 4px solid;
}
img.singleshot_thumb {
  border: 2px solid;
}

/* Image display */
.image {
  text-align: center;
}
.image .display {
  margin-left: auto;
  margin-right: auto;
}
.viewport {
  width: 466px; 
  height: 236px;
  background-position: 50% 50%;
}
