/* Stylesheet for Dialog (simple b/w)
 *
 * $Id$
 */

@import url("layout.css");

body {
  background-color: #6b696b;
}
h2 { 
  color: #cfcccc;
}
a { 
  color: #cfcccc; 
}
hr {
  background-color: #aaaaaa;
}
tr#header {
  background-color: black;
}
.main {
  background-color: #313031;
  color: white;
}
.footer {
  background-color: #202021; 
}
.footer small {
  color: #eeeeee;
}
.gutter#menu a {
  color: #e9e7ff;
  border-color: #424542; 
  background-color: #313031;
  background: #313031 url(/image/bg_menu_black.png);
}
.gutter#menu a#active {
  border-color: #313031; 
}
.datebox {
  border-right: 1px solid #505050;
  color: #b3b3b3;
}
.datebox h2 {
  color: #a9a9a9;
}
.highlights img {
  border-color: #424542;
}
table.collection_list {
  border: none;
}
table.collection_list img {
  border: none;
}
table.collection_list td {
  color: white;
}
table.chapter img {
  border-color:  #424542;
}
table.bydate_list {
  color: #eeeeee;
}

/* Image display */
.image .display {
  border: 1px solid #f4f4f4;
}
.image .opaqueborder {
  width: 100%; 
  height: 100%; 
  border: 10px solid #f4f4f4; 
  -ms-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  opacity: 0.5; 
  filter: alpha(opacity= 50);
  -moz-opacity: .50;
  -khtml-opacity: 0.5;
}

/* Single shot */
div.singleshot {
  width: 619; 
  height: 347;
  border: 1px solid #f4f4f4;
}
img.singleshot {
  border-color: #f4f4f4;
}
img.singleshot_thumb {
  border-color: #424542;
}
